#search {
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
}

p {
    color: white;
}

#suggestions *{
    color: white;
}

p.title {
    color: rgb(255, 255, 255);
}

#submit{
    color: white;
}

.priceInfo h2 {
    color: white;
}

.numbervalue {
    color: whitesmoke;
}

.actionbox .model  {
    color: whitesmoke;
}

.nameAndLogo h1{
    color: white;
}

.mainVisual .positive{
    color: rgb(0, 196, 0);
}

#theme_label{
    color: white;
}