.candle_graph {
    grid-column: 1 / 4;
}

.actionbox{
    grid-column: 7 / 10;
    justify-content: center;
}

#generate_action{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#generate_action p{
    margin: 10px;
    color: white;
}

:root {
    --point-color: #ffffff;
    --size: 5px;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size) * 2);
    width: 1em; /* Ensure each element has a width and height */
    height: 1em; /* Adjust based on your design */
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}
