section.panel {
    height: 110vh;
    backdrop-filter: blur(15px);
    width: 100vw;
}

.panel .container {
    position: relative;
    width: 90vw;
    left: 5vw;
    display: flex;
}


@media (max-width:891px){
    .panel div.container {
        display: block;
    }
    div.container img {
        width: 100%;
        height: 100%;
    }
    div.scene {
        width: 100%;
    }

}

.container img {
    width: 30%;
    height: 100%;
}

.scene {
    width: 70%;
}

.copyright a {
    transition: all 0.3s;
}
.copyright a:hover {
    color: #4545E6;
}

