#aboutContainer {
    display: flex;
    position: relative;
    left: 5vw;
    width: 90vw;
}

#aboutContainer img {
    width: 45%;
    height: auto;
}


.headText {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.error{
    position: static;
    width: fit-content;
    margin-left: 50%;
    margin-right: auto;
    margin-top: 60px;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto Mono';
}

.layout {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    left: 10vw;
    height: 60vh;
}

section {
    position: relative;
}

footer {
    margin-top: 20vh;
}

footer .row {
    width: 70%;
    display: flex;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
}

footer * {
    background-color: #1e1f1c;
    font-family: 'Inter';
    color: white;
}

footer .container {
    width: 100%;
    justify-content: center;
    text-align: center;
}

footer .col-sm3 {
    width: 30%;
    text-align: left;
}

footer h5 {
    color: white;
    font-weight: 800;
    font-size: 18px;
}
footer li a {
    font-size: 14px;
    color: #707070;
    text-decoration: none;
    transition: all 0.3s;
}

footer li a:hover {
    color: #4545E6;
}


footer .copyright{
    width: 100%;
    text-align: center;
    background-color: #1e1f1c;
}
@media (max-width:762px) {
    footer div.row {
        flex-direction: column;
    }
    
}

.copyright a {
    transition: all 0.3s;
}
.copyright a:hover {
    color: #4545E6;
}