@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#searchForm {
    display: inline-block;
}

.searchbox {
    display: block;
}

#search {
    width: 40vw;
    font-family: 'Roboto Mono';
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: rgb(36, 121, 206);
    color: black;
    background-color: white;
    opacity: 0.3; /* Adjust the opacity as needed */
    backdrop-filter: blur(15px);
    transition: all 0.3s;
    font-size: 1em;
    margin-top: 2vh;
}

#search:focus {
    outline: none;
    opacity: .45;
}

#submit {
    height: 40px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    backdrop-filter: blur(15px);
    transition: all 0.3s;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
}

#suggestions {
    position: relative;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    background-color: transparent;
    transition: 0.3s all;
    backdrop-filter: blur(15px);
    transition: all 0.3s;
    border-radius: 10px;
    z-index: 1;
}

.suggestion {
    transition: 0.3s all;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
}

.suggestion:hover {
    border: 1px #4545E6;
    color: #4545E6;
}

.symbol {
    font-family: 'Roboto Mono';
    font-size: 1.5em;
}

.name,
.exchange {
    font-family: 'Roboto Mono';
    font-size: 0.8em;
    color: gray;
}